[package]
name = "router_prefilter"
version = "0.1.0"
edition = "2024"

[dependencies]
regex-syntax = "0.8"
regex-automata = "0.4"
aho-corasick = "1.1"
roaring = "0.11"
fst = "0.4"

[dev-dependencies]
criterion = { version = "0.8.1", features = ["html_reports"] }
rand = "0.9.2"
regex = "1.12.2"

[[bench]]
name = "router_bench"
harness = false

[profile.samply]
inherits = "release"
debug = true
