[package]
name = "atc-router"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pest = "2.1"
pest_derive = "2.5"
#cidr = { version = "0.2", features = ["serde"] }
cidr = "0.2"
pest_consume = "1.1"
lazy_static = "1.4"
#serde_json = "1.0"
#serde = { version = "1.0", features = ["derive"] }
#wasm-bindgen = "0.2"
uuid = "1.1"
regex = "1.7"

[lib]
crate-type = ["cdylib", "staticlib"]
