[package]
name = "atc-router"
version = "1.7.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Datong Sun <datong.sun@konghq.com>", "Kong Contributors"]
description = """
Versatile DSL based rule matching engine used by the Kong API Gateway
"""
repository = "https://github.com/Kong/atc-router"
keywords = ["dsl", "atc", "router", "rule", "engine"]
categories = ["compilers"]

[dependencies]
pest = "2.7.11"
pest_derive = "2.7.11"
cidr = "0.2.2"
lazy_static = "1.5"
uuid = "1.8.0"
regex = "1.10.5"
serde = { version = "1.0.204", features = ["derive"], optional = true }
serde_regex = { version = "1.1", optional = true }
fnv = "1.0.7"
bitflags = { version = "2.6", optional = true }

[dev-dependencies]
criterion = "0"

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[features]
default = ["ffi"]
ffi = ["dep:bitflags"]
serde = ["cidr/serde", "dep:serde", "dep:serde_regex"]

[[bench]]
name = "test"
harness = false

[[bench]]
name = "string"
harness = false

[[bench]]
name = "match_mix"
harness = false

[[bench]]
name = "not_match_mix"
harness = false

[[bench]]
name = "build"
harness = false
