name: SAST

on:
  pull_request: {}
  push:
    branches:
    - master
    - main
  workflow_dispatch: {}


jobs:
  semgrep:
    name: Semgrep SAST
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
      # only required for workflows in private repositories
      actions: read
      contents: read

    if: (github.actor != 'dependabot[bot]')

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@v4
      - uses: Kong/public-shared-actions/security-actions/semgrep@0ccacffed804d85da3f938a1b78c12831935f992 # v2
        with:
          additional_config: '--config p/rust'

