name: SCA

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  rust-sca:
    name: Rust SCA
    runs-on: ubuntu-latest

    permissions:
      # required for all workflows
      security-events: write
      checks: write
      pull-requests: write
      actions: read
      contents: read

    if: (github.actor != 'dependabot[bot]')

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Rust SCA
      uses: Kong/public-shared-actions/security-actions/sca@916a6f6221b7eab6f5ae53d061274d588c965ae6 # 5.1.1
      with:
        asset_prefix: 'atc-router'
        codeql_upload: 'true'
        dir: '.'
